

:root {
    --principal-color: rgb(237, 237, 237);
    --header-color: rgb(0, 0, 0);
    --hover-color: rgb(199, 30, 95);
    --body-color: /*rgb(255, 255, 255)*/#000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-color);
}

/* =========HEADER========= */
.header-container {
    background-color: var(--header-color);
    height: 95px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.header-container h1 {
    font-size: 35px;
}

.header-logo {
    height: 60px;
    width: 60px;
}

.header-logo img {
    height: 100%;
    width: 100%;
}

.menu-responsive {
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-responsive #menu-resp {
    display: none;
}

.menu-responsive #whatsapp {
    font-size: 50px;
}
.menu-responsive a {
    text-decoration: none;
    color: #ffffff;
}
.menu-responsive i:hover {
    transform: scale(1.1);
}
#portafolio {
    color: var(--hover-color);
}


/* =========NAVIGATION-BAR========= */
.nav-bar {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav-list li a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}
#Portafolio {
    color: var(--hover-color);
}

/* ========= MAIN CONTENT ========= */
/*Contenerdor de Preloader*/
#preloader {
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all time is ease;
    z-index: 10000;
}
#loader {
    border: 15px solid #ccc;
    border-top-color: var(--hover-color);
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
        -o-animation: girar 1.5s linear infinite;
        animation: girar 1.5s linear infinite;
}
@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* =========CAFES PORTAFOLIO========= */
.main-container {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    justify-content: center;
    gap: 20px;
    row-gap: 40px;
}
.box-img img {
    height: 350px;
    width: 280px;
    object-fit: cover;
}
.box-img:hover {
    transform: scale(1.1);
}

/* ======= FOOTER ======= */
.footer-content {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.footer-items {
    height: 140px;
    justify-content: first baseline;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-tittle {
    color: #ffffff;
    font-size: 25px;
}
.footer-content .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-content .social i {
    font-size: 30px;
    cursor: pointer;
}
.footer-content .social i:hover {
    color: var(--hover-color);
}
.footer-content a {
    color: #ffffff;
    text-decoration: none;
}
.footer-content i {
    color: #ffffff;
    font-size: 15px;
}
.footer-content span {
    color: #ffffff;
}
.contact-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.contact-section .contact-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #ffffff;
    font-size: 18px;
}
.contact-section .contact-card i {
    font-size: 20px;
}
.contact-card a {
    cursor: pointer;
}
.contact-card a:hover {
    color: var(--hover-color);
}
.footer-comment a {
    color: var(--hover-color);
    cursor: pointer;
}

@media (max-widht: 800px) {
    /*.main-container {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .main-container .box-img:nth-child(1){
        grid-column-start: span 1;
    }*/
}

@media (max-width: 556px) {
    /* ==== HEADER =====*/
    .header-container h1 {
        font-size: 20px;
    }
    
    .header-logo {
        height: 50px;
        width: 50px;
    }
    
    .menu-responsive {
        height: 30px;
        width: 30px;
    }
    .menu-responsive #whatsapp {
        font-size: 30px;
    }
    
    /* =========NAVIGATION-BAR========= */
    .nav-bar {
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-list {
        list-style: none;
        display: flex;
        gap: 15px;
    }
    .nav-list li a {
        text-decoration: none;
        font-size: 18px;
        color: black;
    }

    /* ===== MAIN =====*/
    .main-container {
        grid-template-columns: repeat(2, 140px);
        gap: 30px;
        row-gap: 20px;
    }
    .box-img img {
        height: 180px;
        width: 100%;
    }

    /* ======= FOOTER ======= */

.footer-content {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
.footer-items {
    justify-content: first baseline;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 150px;
    gap: 10px;
}
.footer-tittle {
    color: #ffffff;
    font-size: 15px;
}
.footer-content .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-content .social i {
    font-size: 15px;
    cursor: pointer;
}
.footer-content .social i:hover {
    color: var(--hover-color);
}
.footer-content a {
    color: #ffffff;
    text-decoration: none;
}
.footer-content i {
    color: #ffffff;
    font-size: 15px;
}
.footer-content span {
    color: #ffffff;
}
.contact-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.contact-section .contact-card {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #ffffff;
    font-size: 10px;
}
.contact-section .contact-card i {
    font-size: 10px;
}
.contact-card a {
    cursor: pointer;
}
.contact-card a:hover {
    color: var(--hover-color);
}
.footer-comment {
    font-size: 10px;
}
.footer-comment a {
    color: var(--hover-color);
    cursor: pointer;
}
}