
:root {
    --principal-color: rgb(237, 237, 237);
    --header-color: rgb(0, 0, 0);
    --hover-color: rgb(199, 30, 95);
    --body-color: /*rgb(255, 255, 255)*/#000000;
}
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-color);
}


/* =========HEADER========= */
.header-container {
    background-color: var(--header-color);
    height: 95px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.header-container h1 {
    font-size: 30px;
}

.header-logo {
    height: 60px;
    width: 60px;
}

.header-logo img {
    height: 100%;
    width: 100%;
}

.menu-responsive {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-responsive #whatsapp {
    font-size: 50px;
}
.menu-responsive a {
    text-decoration: none;
    color: #ffffff;
}
.menu-responsive i:hover {
    transform: scale(1.1);
}


/* =========NAVIGATION-BAR========= */
.nav-bar {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav-list li a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}
#portafolio {
    color: var(--hover-color);
}

/*============= MAIN =============*/

.dispsect {
    display: flex;
    flex-direction: row;
}
.dispsect .nav {
    background-color: var(--header-color);
    height: auto;
    width: 12%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-right: 1px solid rgb(139, 139, 139);
}
.dispsect .nav ol {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    padding-top: 30px;
}
.dispsect .a {
    background-color: black;
    height: 45px;
    width: 90%;
    justify-content: center;
    text-align: center;
    align-content: center;;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#navcolor {
    background-color: rgba(255, 255, 255, 0.185);
}
.dispsect li p {
    color: var(--principal-color);
    font-size: 20px;
}
.dispsect li a {
    text-decoration: none;
}
.dispsect .nav a:hover {
    cursor: pointer;
}

.dispsect .portafoliodisplay {
    background-color: var(--header-color);
    height: auto;
    width: 88%;
    padding: 30px;
}
.portafoliodisplay .portafolio-img-cont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.portafoliodisplay .image-card {
    height: 400px;
    width: 320px;
}
.image-card img {
    height: 100%;
    width: 100%;
}

/* Contenedor del botón */
.button-container {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0; /* Se "pega" al fondo del contenedor mientras haces scroll */
    display: flex;
    justify-content: flex-end;
    padding: 1rem; /* para que no quede flotando sobre el contenido */
    z-index: 10;
}

/* Estilo del botón */
.scroll-button {
    padding: 15px 20px;
    background-color: var(--hover-color);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/*============= Offer Plans =============*/

.offercards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.offercard {
    background-color: white;
    height: auto;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.offercard h3 {
    font-size: 30px;
}
.offercard .plan-price {
    font-size: 45px;
    color: var(--hover-color);
}
.offercard ol {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.offercard li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.offercard li p {
    font-size: 18px;
    color: rgb(51, 8, 26);
}
.notinclude i {
    color: rgba(51, 8, 26, 0.26);
}
ol .notinclude p {
    color: rgba(51, 8, 26, 0.26);
}
#gold {
    border-width: 3px;
    border-style: solid;
    border-color: var(--hover-color);
}
/* ===== ACTION BUTTONS ===== */
.article-action-button a {
    text-decoration-line: none;
    text-decoration: none;
}
.agendar-btn {
    background-color: rgb(22, 189, 83);
    border: none;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    width: 120px;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

/* ======= NOTES ======= */
.notesbg {
    background-color: black;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.notesformat {
    height: 100%;
    width: 900px;
}
.notessect {
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.notessect ol {
    list-style: none;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.notessect h3 {
    font-size: 40px;
    color: var(--hover-color);
}
.notessect li {
    width: 600px;
    display: flex;
    gap: 10px;
    text-align: start;
    align-items: center;
}
.notessect .notesol .servcategory p {
    font-size:25px;
    color: #ffffff;
}
.notessect li i {
    font-size: 15px;
    color: rgb(173, 173, 173);
}
.notessect li p {
    font-size: 20px;
    color: #949494;
}



/*============= FOOTER CONTENT =============*/
/* ======= FOOTER ======= */
.footer-content {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.footer-items {
    height: 140px;
    justify-content: first baseline;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-tittle {
    color: #ffffff;
    font-size: 25px;
}
.footer-content .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-content .social i {
    font-size: 30px;
    cursor: pointer;
}
.footer-content .social i:hover {
    color: var(--hover-color);
}
.footer-content a {
    color: #ffffff;
    text-decoration: none;
}
.footer-content i {
    color: #ffffff;
    font-size: 15px;
}
.footer-content span {
    color: #ffffff;
}
.contact-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.contact-section .contact-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #ffffff;
    font-size: 18px;
}
.contact-section .contact-card i {
    font-size: 20px;
}
.contact-card a {
    cursor: pointer;
}
.contact-card a:hover {
    color: var(--hover-color);
}
.footer-comment a {
    color: var(--hover-color);
    cursor: pointer;
}

/* ========== RESPONSIVE DESIGN ========== */

@media /*(min-width:557px) and */(max-width: 1024px) {

    .dispsect {
        display: flex;
        flex-direction: row;
    }
    .dispsect .nav {
        background-color: var(--header-color);
        height: auto;
        width: 20%;
        margin-top: 10px;
        margin-bottom: 30px;
        border-right: 1px solid rgb(139, 139, 139);
    }
    .dispsect .nav ol {
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
        padding-top: 30px;
    }
    .dispsect .a {
        background-color: black;
        height: 45px;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-content: center;;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #navcolor {
        background-color: rgba(255, 255, 255, 0.185);
    }
    .dispsect li p {
        color: var(--principal-color);
        font-size: 18px;
    }
    .dispsect li a {
        text-decoration: none;
    }
    .dispsect .nav a:hover {
        cursor: pointer;
    }
    
    .dispsect .portafoliodisplay {
        background-color: var(--header-color);
        height: auto;
        width: 80%;
        padding: 20px;
    }
    .portafoliodisplay .portafolio-img-cont {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 15px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .portafoliodisplay .image-card {
        height: auto;
        width: auto;
    }
    .image-card img {
        height: 100%;
        width: 100%;
    }

    /*============= Offer Plans =============*/

    .offercards {
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
    }
    .offercard {
        background-color: white;
        height: auto;
        width: 270px;
        padding: 10px;
        border-radius: 15px;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 10px;
    }
    .offercard h3 {
        font-size: 25px;
    }
    .offercard .plan-price {
        font-size: 45px;
        color: var(--hover-color);
    }
    .offercard ol {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 10px;
    }
    .offercard li {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    .offercard li p {
        font-size: 15px;
        color: rgb(51, 8, 26);
    }
    ol .notinclude p {
        color: rgba(51, 8, 26, 0.26);
    }
    #gold {
        border-width: 3px;
        border-style: solid;
        border-color: var(--hover-color);
    }
    /* ===== ACTION BUTTONS ===== */
    .article-action-button a {
        text-decoration-line: none;
        text-decoration: none;
    }
    .agendar-btn {
        background-color: rgb(22, 189, 83);
        border: none;
        text-align: center;
        padding: 10px;
        font-size: 15px;
        width: 120px;
        color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
    }

    /* ======= NOTES ======= */
    .notesbg {
        background-color: black;
        height: auto;
        width: 100%;
        padding: 20px;
    }
    .notessect {
        height: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .notessect ol {
        list-style: none;
        height: 300px;
        justify-content: start;
        align-items: start;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .notessect h3 {
        font-size: 35px;
        color: var(--hover-color);
    }
    .notessect li {
        width: auto;
        display: flex;
        gap: 10px;
        text-align: start;
    }
    .notessect li i {
        font-size: 15px;
        color: rgb(173, 173, 173);
    }
    .notessect li p {
        font-size: 15px;
        color: #949494;
    }

    /* ======= FOOTER ======= */

    .footer-content {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-items {
        justify-content: first baseline;
        align-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 80px;
        width: 150px;
        gap: 10px;
    }
    .footer-tittle {
        color: #ffffff;
        font-size: 15px;
    }
    .footer-content .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .footer-content .social i {
        font-size: 15px;
        cursor: pointer;
    }
    .footer-content .social i:hover {
        color: var(--hover-color);
    }
    .footer-content a {
        color: #ffffff;
        text-decoration: none;
    }
    .footer-content i {
        color: #ffffff;
        font-size: 15px;
    }
    .footer-content span {
        color: #ffffff;
    }
    .contact-section {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    .contact-section .contact-card {
        display: flex;
        flex-direction: row;
        gap: 5px;
        color: #ffffff;
        font-size: 10px;
    }
    .contact-section .contact-card i {
        font-size: 10px;
    }
    .contact-card a {
        cursor: pointer;
    }
    .contact-card a:hover {
        color: var(--hover-color);
    }
    .footer-comment {
        font-size: 10px;
    }
    .footer-comment a {
        color: var(--hover-color);
        cursor: pointer;
    }
}

@media (min-width:1001px) and (max-width: 1500px) {
    /*============= Images display =============*/
    .portafoliodisplay .portafolio-img-cont {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 15px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    /*============= Offer Plans =============*/

    .offercards {
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 10px;
    }
}

@media (max-width: 556px) {
/* =========HEADER========= */

.header-container {
    height: 75px;
}

.header-container h1 {
    font-size: 20px;
}

.header-logo {
    height: 50px;
    width: 50px;
}

.menu-responsive {
    height: 50px;
    width: 50px;
}
.menu-responsive #whatsapp {
    font-size: 40px;
}

/* =========NAVIGATION-BAR========= */
.nav-bar {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav-list li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

/* ========= MAIN CONTENT ========= */
/* ========= MAIN NAV ========= */
.dispsect {
    display: flex;
    flex-direction: row;
}
.dispsect .nav {
    background-color: var(--header-color);
    height: auto;
    width: 20%;
    margin-top: 0px;
    margin-bottom: 30px;
    border-right: 1px solid rgb(139, 139, 139);
}
.dispsect .nav ol {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    padding-top: 30px;
}
.dispsect .a {
    background-color: black;
    height: 45px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#navcolor {
    background-color: rgba(255, 255, 255, 0.185);
}
.dispsect li p {
    color: var(--principal-color);
    font-size: 10px;
}
.dispsect li a {
    text-decoration: none;
}
.dispsect .nav a:hover {
    cursor: pointer;
}

/* ========= MAIN GRID IMG ========= */
.dispsect .portafoliodisplay {
    background-color: var(--header-color);
    height: auto;
    width: 80%;
    padding: 10px;
}
.portafoliodisplay .portafolio-img-cont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.portafoliodisplay .image-card {
    height: 160px;
    width: 120px;
}
.image-card img {
    height: 100%;
    width: 100%;
}


/*============= Offer Plans =============*/

.offercards {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    justify-content: space-evenly;
}
.offercard {
    background-color: white;
    height: auto;
    width: 160px;
    padding: 12px;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 5px;
}
.offercard h3 {
    font-size: 25px;
}
.offercard .plan-price {
    font-size: 30px;
    color: var(--hover-color);
}
.offercard ol {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}
.offercard li {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.offercard li p {
    font-size: 10px;
    color: rgb(51, 8, 26);
}
.offercard li i {
    font-size: 10px;
}
ol .notinclude p {
    color: rgba(51, 8, 26, 0.26);
}
#gold {
    border-width: 3px;
    border-style: solid;
    border-color: var(--hover-color);
}
/* ===== ACTION BUTTONS ===== */
.article-action-button a {
    text-decoration-line: none;
    text-decoration: none;
}
.agendar-btn {
    background-color: rgb(22, 189, 83);
    border: none;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    width: 120px;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

/* ======= NOTES ======= */
.notesbg {
    background-color: black;
    height: auto;
    width: 100%;
    padding: 20px;
}
.notessect {
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.notessect ol {
    list-style: none;
    height: 300px;
    justify-content: start;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.notessect h3 {
    font-size: 35px;
    color: var(--hover-color);
}
.notessect li {
    width: auto;
    display: flex;
    gap: 10px;
    text-align: start;
}
.notessect li i {
    font-size: 15px;
    color: rgb(173, 173, 173);
}
.notessect li p {
    font-size: 15px;
    color: #949494;
}


/* ======= FOOTER ======= */

.footer-content {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
.footer-items {
    justify-content: first baseline;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 150px;
    gap: 10px;
}
.footer-tittle {
    color: #ffffff;
    font-size: 15px;
}
.footer-content .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-content .social i {
    font-size: 15px;
    cursor: pointer;
}
.footer-content .social i:hover {
    color: var(--hover-color);
}
.footer-content a {
    color: #ffffff;
    text-decoration: none;
}
.footer-content i {
    color: #ffffff;
    font-size: 15px;
}
.footer-content span {
    color: #ffffff;
}
.contact-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.contact-section .contact-card {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #ffffff;
    font-size: 10px;
}
.contact-section .contact-card i {
    font-size: 10px;
}
.contact-card a {
    cursor: pointer;
}
.contact-card a:hover {
    color: var(--hover-color);
}
.footer-comment {
    font-size: 10px;
}
.footer-comment a {
    color: var(--hover-color);
    cursor: pointer;
}
}