:root {
    --principal-color: rgb(237, 237, 237);
    --header-color: rgb(0, 0, 0);
    --hover-color: rgb(199, 30, 95);
    --body-color: /*rgb(255, 255, 255)*/#000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-color);
}
/*Contenerdor de Preloader*/
#preloader {
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all time is ease;
    z-index: 10000;
}
#loader {
    border: 15px solid #ccc;
    border-top-color: var(--hover-color);
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
        -o-animation: girar 1.5s linear infinite;
        animation: girar 1.5s linear infinite;
}
@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* =========HEADER========= */
.header-container {
    background-color: var(--header-color);
    height: 95px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.header-container h1 {
    font-size: 30px;
}

.header-logo {
    height: 60px;
    width: 60px;
}

.header-logo img {
    height: 100%;
    width: 100%;
} 

.menu-responsive {
    height: 60px;
    width: 60px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 50px;
}
.menu-responsive a {
    text-decoration: none;
    color: #ffffff;
}
.menu-responsive i:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.menu-responsive #menu-resp {
    display: none;
}
.menu-responsive #birrete {
    font-size: 50px;
    color: rgb(226, 194, 13);
}
.menu-responsive #whatsapp {
    font-size: 50px;
}


/* =========NAVIGATION-BAR========= */
.nav-bar {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav-list li a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}
#promo {
    color: var(--hover-color);
}

/* ========= MAIN CONTENT ========= */
.main-content {
    background-image: url(/assets/images/promBackground.png);
    background-size: cover;
}
/* ========= PROM TITTLE FORMAT ========= */
.prom-tittle-format {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    gap: 5px;
}
.prom-tittle-format h3 {
    font-size: 40px;
    color: var(--hover-color);
}
.prom-tittle-format p {
    font-size: 20px;
    color: rgb(180, 180, 180);
}
.prom-tittle-format ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.prom-tittle-format ol li {
    font-size: 18px;
    color: #bebebe;
}
/* ========= PRINCIPAL CONTENT ========= */
.prom-content-format-1 {
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.prom-content-format-1 ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.prom-content-format-1 ol li {
    font-size: 35px;
    color: #ffffff;
}
.prom-content-format-1 ol .content-addition {
    font-size: 40px;
    color: var(--hover-color);
}
/* ======= Images Format ======= */
.prom-content-img {
    height: 350px;
    width: 630px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.prom-content-img img {
    height: 100%;
    width: 100%;
}
/* ========= PROM CONTENT 2 ========= */
.prom-content-format-2 {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

}
.prom-content-format-2 h3 {
    color: #ffffff;
    font-size: 40px;
}
.prom-content-format-2 ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}
.prom-content-format-2 ol li {
    font-size: 30px;
    color: #ffffff;
}
.prom-content-format-2 ol strong {
    color: var(--hover-color);
}
.price {
    background-color: var(--hover-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.price p {
    color: #ffffff;
    font-size: 50px;
}
.price h3 {
    color: #ffffff;
    font-size: 80px;
}
/* ======= BUTTON ======= */
.button {
    height: 100px;
    justify-content: center;
    align-content: center;
}
.article-action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-action-buttons .agendar-btn {
    background-color: rgb(22, 189, 83);
    border: none;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    width:180px;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}
.article-action-buttons a {
    text-decoration: none;
}
/* ======= CALENDAR ======= */
.dates-format {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.dates-format h3 {
    color: #ffffff;
    font-size: 40px;
}
.dates-format h4 {
    color: #ffffff;
    font-size: 35px;
}
.dates-format .school-dates {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.school-dates h5 {
    color: rgb(172, 172, 172);
    font-size: 20px;
}
.school-dates p {
    color: white;
    font-size: 30px;
}
.school-dates strong {
    color: var(--hover-color);
}

/* ======= FOOTER ======= */
.footer-content {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.footer-items {
    height: 140px;
    justify-content: first baseline;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-tittle {
    color: #ffffff;
    font-size: 25px;
}
.footer-content .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-content .social i {
    font-size: 30px;
    cursor: pointer;
}
.footer-content .social i:hover {
    color: var(--hover-color);
}
.footer-content a {
    color: #ffffff;
    text-decoration: none;
}
.footer-content i {
    color: #ffffff;
    font-size: 15px;
}
.footer-content span {
    color: #ffffff;
}
.contact-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.contact-section .contact-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #ffffff;
    font-size: 18px;
}
.contact-section .contact-card i {
    font-size: 20px;
}
.contact-card a {
    cursor: pointer;
}
.contact-card a:hover {
    color: var(--hover-color);
}
.footer-comment a {
    color: var(--hover-color);
    cursor: pointer;
}

/* ---------RESPONSIVE--------- */
@media (max-width: 556px) {
    .header-container h1 {
        font-size: 20px;
    }
    .menu-responsive {
        height: 30px;
        width: 30px;
        padding-right: 0;
        gap: 0;
    }
    .menu-responsive #birrete {
        font-size: 30px;
    }
    #whatsapp {
        display: none;
    }
    .nav-list {
        gap: 15px;
        text-align: center;
    }
    .nav-list li a {
        font-size: 15px;
    }
    /* ========= PROM TITTLE FORMAT ========= */
    .prom-tittle-format {
        justify-content: center;
        align-items: center;
        height: 150px;
        gap: 10px;
    }
    .prom-tittle-format h3 {
        width: 300px;
        font-size: 25px;
    }
    .prom-tittle-format p {
        font-size: 15px;
    }
    .prom-tittle-format ol li {
        font-size: 13px;
    }
    /* ========= PRINCIPAL CONTENT ========= */
    .prom-content-format-1 {
        height: 400px;
        margin: 0;
        padding: 30px;
        gap: 5px;
    }
    .prom-content-format-1 ol {
        gap: 10px;
    }
    .prom-content-format-1 ol li {
        font-size: 20px;
    }
    .prom-content-format-1 ol .content-addition {
        font-size: 25px;
    }
    /* ======= Images Format ======= */
    .prom-content-img {
        height: 250px;
        width: 200px;
        gap: 10px;
    }
    .prom-content-img img {
        height: 100%;
        width: 100%;
    }
    #IMG2 {
        display: none;
    }
    #IMG3 {
        display: none;
    }
    /* ========= PROM CONTENT 2 ========= */
    .prom-content-format-2 {
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;

    }
    .prom-content-format-2 h3 {
        color: #ffffff;
        font-size: 25px;
    }
    .prom-content-format-2 ol {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
    }
    .prom-content-format-2 ol li {
        font-size: 20px;
        color: #ffffff;
    }
    .prom-content-format-2 ol strong {
        color: var(--hover-color);
    }
    .price {
        background-color: var(--hover-color);
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .price p {
        color: #ffffff;
        font-size: 20px;
    }
    .price h3 {
        color: #ffffff;
        font-size: 30px;
    }
    /* ======= BUTTON ======= */
    .button {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 100px;
        justify-content: center;
        align-content: center;
    }
    .article-action-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .article-action-buttons .agendar-btn {
        background-color: rgb(22, 189, 83);
        border: none;
        text-align: center;
        padding: 10px;
        font-size: 30px;
        width:180px;
        color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
    }
    .article-action-buttons a {
        text-decoration: none;
    }
    /* ======= CALENDAR ======= */
    .dates-format {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    .dates-format h3 {
        color: #ffffff;
        font-size: 30px;
    }
    .dates-format h4 {
        color: #ffffff;
        font-size: 25px;
    }
    .dates-format .school-dates {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .school-dates h5 {
        color: rgb(172, 172, 172);
        font-size: 20px;
    }
    .school-dates p {
        color: white;
        font-size: 20px;
    }
    .school-dates strong {
        color: var(--hover-color);
    }


        /* ======= FOOTER ======= */

    .footer-content {
        height: 140px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .footer-items {
        justify-content: first baseline;
        align-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 80px;
        width: 150px;
        gap: 10px;
    }
    .footer-tittle {
        color: #ffffff;
        font-size: 15px;
    }
    .footer-content .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .footer-content .social i {
        font-size: 15px;
        cursor: pointer;
    }
    .footer-content .social i:hover {
        color: var(--hover-color);
    }
    .footer-content a {
        color: #ffffff;
        text-decoration: none;
    }
    .footer-content i {
        color: #ffffff;
        font-size: 15px;
    }
    .footer-content span {
        color: #ffffff;
    }
    .contact-section {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    .contact-section .contact-card {
        display: flex;
        flex-direction: row;
        gap: 5px;
        color: #ffffff;
        font-size: 10px;
    }
    .contact-section .contact-card i {
        font-size: 10px;
    }
    .contact-card a {
        cursor: pointer;
    }
    .contact-card a:hover {
        color: var(--hover-color);
    }
    .footer-comment {
        font-size: 10px;
    }
    .footer-comment a {
        color: var(--hover-color);
        cursor: pointer;
    }
}